/* скрываем чекбоксы и блоки с содержанием */
.hide {
    display: none;
}
.hide + label ~ div{
    display: none;
}
/* оформляем текст label */
.hide + label {
    border-bottom: 1px dotted rgb(57, 142, 255);;
    padding: 0;
    color: rgb(57, 142, 255);
    cursor: pointer;
    display: inline-block;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: rgba(57, 142, 255, .7);
    border-bottom: 0;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block;
}